<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					Hello Dreamforce '14 Attendees
				</h1>
				<p>
					Below is a list of Dreamforce sessions and Hands-on training sessions that I'm leading. Hope to see you there!
				</p>
			</div>
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Session Name
						</th>
						<th>
							Date/Time
						</th>
						<th>
							Place
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							<a href="https://success.salesforce.com/Ev_Sessions#/session/a2q30000000iHt3AAE">Hands-on Workshop: Introduction to Development on Force.com for Developers</a>
						</td>
						<td>
							Monday, 9:15 AM - 11:45 AM
						</td>
						<td>
							Moscone Center West, Room 2022
						</td>
					</tr>
					<tr>
						<td>
							2
						</td>
						<td>
							<a href="https://success.salesforce.com/Ev_Sessions#/session/a2q30000000ia6EAAQ">Finding a Good Development Partner</a>
						</td>
						<td>
							Monday, 2:00 PM - 2:30 PM
						</td>
						<td>
							Moscone Center West, Admin Theater Zone
						</td>
					</tr>
					<tr>
						<td>
							3
						</td>
						<td>
							<a href="https://success.salesforce.com/Ev_Sessions#/session/a2q30000000gupFAAQ">The Apex 10 Commandments</a>
						</td>
						<td>
							Monday, 4:00 PM - 4:40 PM 
						</td>
						<td>
							Moscone Center West, Room 2008
						</td>
					</tr>
					<tr>
						<td>
							4
						</td>
						<td>
							<a href="https://success.salesforce.com/Ev_Sessions#/session/a2q30000000hkTZAAY">Apex For Humans</a>
						</td>
						<td>
							Tuesday, 9:30 AM - 10:10 AM
						</td>
						<td>
							Century Theaters, Theater 5
						</td>
					</tr>
					<tr>
						<td>
							5
						</td>
						<td>
							<a href="https://success.salesforce.com/Ev_Sessions#/session/a2q30000000hMtpAAE">Why Button Click Developers are the New MacGyvers</a>
						</td>
						<td>
							Tuesday, 11:15 AM - 11:45 AM
						</td>
						<td>
							Moscone Center West, Community Lounge
						</td>
					</tr>
					<tr>
						<td>
							6
						</td>
						<td>
							<a href="https://success.salesforce.com/Ev_Sessions#/session/a2q30000000gupVAAQ">Continuous Integration of JS and Apex Code Using Jasmine, Phantom, and Drone.io</a>
						</td>
						<td>
							Tuesday, 4:45 PM - 5:15 PM
						</td>
						<td>
							Moscone Center West, Innovation Theater
						</td>
					</tr>
					<tr>
						<td>
							7
						</td>
						<td>
							<a href="https://success.salesforce.com/Ev_Sessions#/session/a2q30000000gun1AAA">Building Rich Salesforce1 Mobile Applications with Ionic and AngularJS</a>
						</td>
						<td>
							Thursday, 12:30 PM - 1:10 PM
						</td>
						<td>
							Moscone Center West, 2009
						</td>
					</tr>
					<tr>
						<td>
							8
						</td>
						<td>
							<a href="#">Build your first Angular.js App on Visualforce</a>
						</td>
						<td>
							Thursday, 10:30 AM - 11:15 AM
						</td>
						<td>
							TBD
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>